<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flashcards</title>
    <link rel="stylesheet" href="..\styles\style1.css">
	<script src="..\app\cookie.js" ></script>
	<script src="..\app\devTools.js" ></script>
	<script src="..\app\sleep.js" ></script>
	<script src="..\app\idGeneretor.js" ></script>
	<script src="..\app\directories.js" ></script>
	<script src="..\app\cards.js" ></script>
	<script src="..\app\pickCardType.js" ></script>
	<script src="..\app\temp.js" ></script>
</head>
<body>
<a href="#" id="backBtn" ><img class="item_button" src="assets/button_back.png" alt="" onclick="goBack()"></a>
<script>
	function goBack() {
		window.location.href = "../views/decks.html";
	}
	let addCard = new AddCard;
	let cardType;
</script>
<br>
<p id="welcome_header1" style="margin-top: 25px;">Select card type</p>
<div id="cardContentDiv" class="front_t_t" style="margin-left: 175px;">
	<div id="picPreviewContent"></div>
	<p id="cardContent"> card types: </p>
</div>
<br>
<div class="container" >
<img src="assets/card_t_t.png" alt="" id="t_t" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_t_tt.png" alt="" id="t_tt" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_tt_t.png" alt="" id="tt_t" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_tt_tt.png" alt="" id="tt_tt" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_p_t.png" alt="" id="p_t" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_p_tt.png" alt="" id="p_tt" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_pt_t.png" alt="" id="pt_t" class="card_icon" onclick="addCard.pickType(this.id)">
<img src="assets/card_pt_tt.png" alt="" id="pt_tt" class="card_icon" onclick="addCard.pickType(this.id)">
</div>
<br><br><br>
</body>
</html>